@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hannah Watkins";
}



<h1>Hannah Watkins</h1>
<img src="img/Photo-6619424-DJI-288-jpg-5392460-0-202185165256-photo-original.JPG" width="300" />
<div class="container">
<!--this is the basic information about me (what I hope to get out of class and what I want to do)-->
<p>
   In this class, I hope to get better at coding. I want to become better at taking unstructured problems and figuring out how to solve them.
   I hope to get better at applying what I learn and using the resources available to me.
</p>
</div>
<p>Top 3 careers</p>
<ul>
   <li>#1) Web Developer</li>
   <li>#2) Data Analyst</li>
   <li>#3) Consultant</li>
</ul>

